.footer {
  border: 1px solid #000;
  height: 150px;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.footer-line {
  width: 70%;
  background: rgba(19, 19, 24, 0.1);
}

.footer-social-icon {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.icon-color {
  color: black;
  font-size: 1.5rem;
}

.icon-color:hover {
  opacity: 0.5;
}
